################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/app/home.controller.js.map
/app/home.controller.js
/app/app.js.map
/app/app.js
/app/home/home.controller.js.map
/app/home/home.controller.js
